<main class="flex-grow-1 p-3 my-2">
  <h2 class="text-center">Marcas de zapatos</h2>
  <section class="d-flex flex-grow-1 flex-wrap justify-content-evenly">
  {{#each events}}
    <div class="card m-2" style="width: 320px;">
      <img src="{{this.imagen}}" style="height: 200px;" class="card-img-top object-fit-cover" alt="{{this.name}}">
      <div class="card-body d-flex flex-column justify-content-center">
        <h5 class="card-title text-center">{{this.nombre}}</h5>
        <p class="card-text text-center">
          {{#if this.precio}}
            {{this.precio}}
          {{else}}
            Description
          {{/if}}
        </p>
        <button type="button" class="btn btn-danger">ADD TO CART!</button>
      </div>
    </div>
  {{/each}}
</section>
</main>